




.body {
    width: 1300px;
    height: 830px;
    
    background-color: rgba(245, 232, 198, 1)
    
    
}
.fon {
    position: absolute;
    z-index: -3;
    opacity: 25%;
}

.up {
    width: 1300px;
    height: 70px;
    background-color: #8C0A0D;
    margin-bottom: 25px;
}
.imgUp{
    margin-left: 70px;
    margin-top: 15px;
    float: left;
}
.uptext{
    float: left;
    height: 10px;
    text-align: center;
}
.uptext1{
    float: left;
        list-style: none;
        color: #FCC57E;
        position: sticky;
}
.qwwer{
    float: left;
    position: sticky;
    padding: 15px;
    margin-left: 10px;
    
    
    
}
.qwwer1{
    text-decoration: none;
    color: #FCC57E;
}

.eng{
    float: right;    
    color: #FCC57E;
    margin-right: 65px;
    padding: 15px;
}
.imgeng{
    list-style-image: url(./flag1.jpg);
    
}


.img{
    background-image: url(./Слой\ 5.jpeg);
    margin-left: 65px;
    height: 335px;
    width: 1170px;
    text-align: center;
    font-size: 60px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    
}
.roshenvmire{
    margin: 10px;
}
.knopka{
    width: 190px;
    height: 45px;
    border-radius: 15px;
    background-color: #FCC57E;
    font-size: 24px;
    text-align: center;
    margin-left: 490px;
    margin-top: 30px;
    padding: auto;
    /*box-shadow: 2px 2px 30px #FCC57E;*/
    }
    .strelka1{
        width: 55px;
        height: 55px;
        border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    margin-left: 30px;
    
    font-size: 48px;
    text-align: center;

    }
    .strelka2{
        width: 55px;
        height: 55px;
        border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: -55px;
    font-size: 48px;
    text-align: center;
    float: right;

    }
    .tochka{
        display: inline-flex;
        margin-top: 100px;
        margin-left: 100px;
    }
    .tochka1{
        background-color: white;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        margin: 
    }
    .tochka2{
        background-color: rgba(191, 103, 13, 1);
        width: 17px;
        height: 17px;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .tochka3{
        background-color: white;
        width: 17px;
        height: 17px;
        border-radius: 50%;
    }
    .text1{
        margin-left: 65px;
        margin-top: 30px;
        
        display: inline-flex;
    }
    .text11{
        width: 260px;
        

    }
    .text111{
        margin-left: 45px;
    }
    .text2{
        margin-left: 65px;
        margin-top: 30px;
        
        display: inline-flex;
    }
    .text22{
        width: 260px;
        

    }
    .text222{
        margin-left: 45px;
    }
    .contact{
        width: 1300px;
        height: 70px;
        background-color: #8C0A0D;
        margin-top: 30px;
    }
    .www{
        color:#FCC57E;
        font-size: 14px;
        width: 190px;
        margin-bottom: 20px;
        text-decoration: none;
    }
    .contact1{
        display: inline-flex;
        margin-left: 65px;
        margin-top: 15px;
        align-items: flex-end;

    }
    .contact11{
        width: 170px;
        color: #FCC57E;
        margin-left: 132px;
        font-size: 14px;
    }
    .fb{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        
        
    }
    .vk{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 15px;
    }